.idea/
**/*.iml
.vscode/
.DS_Store
**/out

# Ignore Gradle project-specific cache directory
**/.gradle/

# Ignore Gradle build output directory
**/build
**/run/

/kitpvpslime-server/build.gradle.kts
/kitpvpslime-server/src/minecraft
/paper-server
/aspaper-server
/kitpvpslime-api/build.gradle.kts
/paper-api
/paper-api-generator
/aspaper-api
/asp-api
/asp-core
