.idea/
**/*.iml
.vscode/
.DS_Store

# Ignore Gradle project-specific cache directory
**/.gradle/

# Ignore Gradle build output directory
build
**/run/

/kitpvpslime-server/build.gradle.kts
/kitpvpslime-server/src/minecraft
/paper-server
/asp-server
/kitpvpslime-api/build.gradle.kts
/paper-api
/paper-api-generator
/asp-api
/asp-core
